In [1]:
import numpy as np
import pandas as pd

In [10]:
file_path = './excel/附件1近5年402家供应商的相关数据.xlsx'
data1 = pd.read_excel(file_path, sheet_name=0).fillna(0)
print(data1.head())
data1.describe()

  供应商ID 材料分类  W001  W002  W003  W004  W005  W006  W007  W008  ...  W231  W232  \
0  S001    B     0     0     0    43     0     0     0     0  ...   1.0   0.0
1  S002    A     1     1     0     1     0     0     0     0  ...   0.0   0.0
2  S003    C     7     1     0     0     0     1     4    50  ...  10.0   3.0
3  S004    B     0     1     1   100     0    85     0     0  ...   1.0   0.0
4  S005    A    30    60    60    60    70    70    60    70  ...  80.0  70.0

   W233  W234  W235  W236  W237  W238  W239  W240
0   0.0   1.0   0.0   1.0   0.0   0.0   0.0   0.0
1   1.0   0.0   0.0   0.0   1.0   1.0   0.0   1.0
2  50.0  20.0  20.0   7.0  10.0   9.0  20.0  10.0
3   1.0   0.0   0.0   0.0   0.0   1.0   0.0   0.0
4  70.0  70.0  70.0  70.0  70.0  70.0  70.0  80.0

[5 rows x 242 columns]

,W001,W002,W003,W004,W005,W006,W007,W008,W009,W010,...,W231,W232,W233,W234,W235,W236,W237,W238,W239,W240
count,405.000000,405.000000,405.000000,405.000000,405.000000,405.000000,405.000000,405.000000,405.000000,405.000000,...,405.00000,405.000000,405.000000,405.000000,405.000000,405.000000,405.000000,405.000000,405.000000,405.000000
mean,136.977778,142.992593,139.940741,138.659259,205.237037,134.881481,141.925926,141.733333,137.933333,140.259259,...,119.02716,177.975309,99.140741,93.155556,113.106173,92.335802,193.120988,137.841975,94.454321,103.837037
std,1268.608617,1368.312216,1355.146482,1169.729448,2099.738108,1213.511734,1223.230174,1226.608252,1196.615794,1302.788245,...,1240.47929,2075.012667,1032.663047,952.254575,1162.261419,943.540374,2274.416197,1539.265946,1000.909881,1074.399401
min,0.000000,0.000000,0.000000,0.000000,-171.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,18492.000000,19304.000000,18892.000000,18719.000000,27878.000000,18209.000000,19160.000000,19134.000000,18621.000000,18935.000000,...,24103.00000,36040.000000,20076.000000,18864.000000,22904.000000,18698.000000,39107.000000,27913.000000,19127.000000,21027.000000

In [11]:
file_path = './excel/附件1近5年402家供应商的相关数据.xlsx'
data1 = pd.read_excel(file_path, sheet_name=4).fillna(0)
print(data1.head())
data1.describe()

  供应商ID 材料分类  W001  W002  W003  W004  W005  W006  W007  W008  ...  W231  W232  \
0  S001    B     0     0     0     0     0     0     0     0  ...   0.0   0.0
1  S002    A     1     0     0     1     0     0     0     0  ...   0.0   0.0
2  S003    C     8     1     0     0     0     1     5    58  ...   9.0   4.0
3  S004    B     0     0     0     0     0     0     0     0  ...   0.0   0.0
4  S005    A    37    62    60    65    76    76    65    71  ...  84.0  78.0

   W233  W234  W235  W236  W237  W238  W239  W240
0   0.0   1.0   0.0   2.0   0.0   0.0   0.0   0.0
1   0.0   0.0   0.0   0.0   0.0   0.0   0.0   1.0
2  54.0  20.0  20.0   8.0  18.0  10.0  22.0  11.0
3   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
4  77.0  79.0  78.0  75.0  74.0  74.0  76.0  81.0

[5 rows x 242 columns]

,W001,W002,W003,W004,W005,W006,W007,W008,W009,W010,...,W231,W232,W233,W234,W235,W236,W237,W238,W239,W240
count,403.000000,403.000000,403.000000,403.000000,403.000000,403.000000,403.000000,403.000000,403.000000,403.000000,...,403.000000,403.000000,403.000000,403.000000,403.000000,403.000000,403.000000,403.000000,403.000000,403.000000
mean,80.079404,88.818859,90.957816,63.538462,138.352357,75.677419,53.240695,63.687345,69.062035,87.538462,...,36.816377,32.947891,33.382134,34.307692,38.689826,33.238213,97.191067,69.210918,47.518610,43.007444
std,872.686792,978.984152,983.831441,651.268097,1595.352287,797.125673,546.861174,654.300771,707.856279,904.634527,...,154.025168,151.988216,142.064830,156.053695,175.090582,153.059195,1192.955720,676.417581,321.572182,241.887946
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,16136.000000,17897.000000,18328.000000,12803.000000,27878.000000,15249.000000,10728.000000,12833.000000,13916.000000,17639.000000,...,1313.000000,1429.000000,1237.000000,1486.000000,2031.000000,1615.000000,23695.000000,13081.000000,5765.000000,3618.000000