In [2]:
import time
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt

In [3]:
input1 = pd.read_excel('./excel/附件2：302家无信贷记录企业的相关数据.xlsx',
                       sheet_name='企业信息')
input1['企业名称']

0        个体经营E124
1        个体经营E125
2        个体经营E126
3        个体经营E127
4        个体经营E128
          ...
297    ***保温材料有限公司
298         ***童装店
299    ***通风设备有限公司
300      ***贸易有限公司
301      ***商贸有限公司
Name: 企业名称, Length: 302, dtype: object

In [16]:
# 下属部门	分公司 	公司	个体经营
sub_departments= [0 for i in range(len(input1['企业名称']))]
branch_companies= [0 for i in range(len(input1['企业名称']))]
companies= [0 for i in range(len(input1['企业名称']))]
self_employed= [0 for i in range(len(input1['企业名称']))]
for i,company in enumerate(input1['企业名称']):
    if '个体经营E' in company:
        self_employed[i]=1
    elif '分公司' in company:
        branch_companies[i]=1
    elif '有限公司' in company or '有限责任公司' in company:
        companies[i]=1

    elif '部' in company:
        sub_departments[i]=1

data = {'下属部门':sub_departments,
    '分公司':branch_companies   ,
      '公司':companies  ,
        '个体经营':self_employed
}

df = pd.DataFrame(data=data)
df.to_csv('./excel/extract/2/企业规模.csv', encoding='gbk')
df.head()

   下属部门  分公司  公司  个体经营
0     0    0   0     1
1     0    0   0     1
2     0    0   0     1
3     0    0   0     1
4     0    0   0     1

# 进销口分析

In [32]:
output1 = pd.read_excel('./excel/附件2：302家无信贷记录企业的相关数据.xlsx', sheet_name='销项发票信息')

input1 = pd.read_excel('./excel/附件2：302家无信贷记录企业的相关数据.xlsx',
                      sheet_name='进项发票信息')

input1.head()

In [33]:
r_in=[]

for num in range(124,425):
    id1 = 'E'+str(num)
    tem = input1[input1['企业代号']==id1]
    all_num = tem.shape[0]
    fei_num = tem[tem['发票状态']=='作废发票'].shape[0]
    ratio = fei_num/all_num
    
    r_in.append(ratio)
    
r_out=[]

for num in range(124,425):
    id1 = 'E'+str(num)
    tem = output1[output1['企业代号']==id1]
    all_num = tem.shape[0]
    fei_num = tem[tem['发票状态']=='作废发票'].shape[0]
    ratio = fei_num/all_num
    
    r_out.append(ratio)

In [34]:
in_num=[]
for num in range(124,425):
    id1 = 'E'+str(num)
    tem = input1[input1['企业代号']==id1]
    all_num = tem.shape[0]
    
    in_num.append(all_num)
    
out_num=[]
for num in range(124,425):
    id1 = 'E'+str(num)
    tem = output1[output1['企业代号']==id1]
    all_num = tem.shape[0]
    
    out_num.append(all_num)

In [35]:
name=[]
for num in range(124,425):
    id1 = 'E'+str(num)
    name.append(id1)

data = {'企业名称':name,
    '进项发票的作废比例':r_in   ,
      '销项发票的作废比例':r_out  ,
        '进项发票数':in_num ,
        '销项发票数':out_num
}

df=pd.DataFrame(data=data)
df.head()
df.to_csv('./excel/extract/2/附件1作废发票比例.csv', encoding='gbk')

# 企业文字提取

In [36]:
data = pd.read_excel('./excel/附件2：302家无信贷记录企业的相关数据.xlsx',sheet_name='企业信息')
data.head()

   企业代号       企业名称
0  E124  个体经营E124
1  E125  个体经营E125
2  E126  个体经营E126
3  E127  个体经营E127
4  E128  个体经营E128

# 时间序列分析

In [37]:
for i in range(len(input1)):         # 删除作废发票
    if input1.loc[i,'发票状态']=='作废发票':
        input1.drop(i,inplace=True)

for i in range(len(output1)):
    if output1.loc[i, '发票状态'] == '作废发票':
        output1.drop(i, inplace=True)

In [38]:
input1.reset_index(drop = True,inplace=True)
output1.reset_index(drop = True,inplace=True)
output1.head()

,企业代号,发票号码,开票日期,购方单位代号,金额,税额,价税合计,发票状态
0,E124,15212483,2017-09-01 11:58:43,D00585,839350.55,92328.56,931679.11,有效发票
1,E124,15212484,2017-09-01 11:59:20,D00585,900900.90,99099.10,1000000.00,有效发票
2,E124,15212485,2017-09-01 11:59:51,D00585,900900.90,99099.10,1000000.00,有效发票
3,E124,15212486,2017-09-01 12:00:45,D00585,697365.74,76710.23,774075.97,有效发票
4,E124,6089615,2017-09-05 10:58:38,D00108,726216.22,79883.78,806100.00,有效发票

In [39]:
input1['开票日期'] = pd.to_datetime(input1['开票日期'])
output1['开票日期'] = pd.to_datetime(output1['开票日期'])
output1.head()

,企业代号,发票号码,开票日期,购方单位代号,金额,税额,价税合计,发票状态
0,E124,15212483,2017-09-01 11:58:43,D00585,839350.55,92328.56,931679.11,有效发票
1,E124,15212484,2017-09-01 11:59:20,D00585,900900.90,99099.10,1000000.00,有效发票
2,E124,15212485,2017-09-01 11:59:51,D00585,900900.90,99099.10,1000000.00,有效发票
3,E124,15212486,2017-09-01 12:00:45,D00585,697365.74,76710.23,774075.97,有效发票
4,E124,6089615,2017-09-05 10:58:38,D00108,726216.22,79883.78,806100.00,有效发票

In [40]:
deal1=[]
deal2=[]
deal3=[]
deal4=[]
for num in range(124,425):      # 遍历目标企业
    l_1 = 0
    l_2 = 0
    l_3 = 0       # 一年、两年、三年、四年的交易方
    l_4 = 0

    id1 = 'E'+str(num)
    a = input1[input1['企业代号']==id1]
    a = a.reset_index(drop=True)
    other = np.unique(a['销方单位代号'])    # 交易方代号的唯一值
    
    year = a['开票日期'][len(a)-1].year - a['开票日期'][0].year+1  
    begin = a['开票日期'][0].year
    
    for i in range(len(other)):       # 遍历交易企业
        cou=0
        company = other[i]      # 选中的交易企业
        for j in range(year):    # 遍历每一年
            tem = a[(a['开票日期'] >str(begin+j) )& (a['开票日期'] <str(begin+j+1))]['销方单位代号'].unique()  # 一年内的交易企业
            if company in tem:
                cou +=1
                
        if cou == 1:
            l_1+=1
        elif cou == 2:
            l_2+=1
        elif cou ==3:
            l_3+= 1
        elif cou==4:
            l_4+=1
                
    deal1.append(l_1)
    deal2.append(l_2)
    deal3.append(l_3)        
    deal4.append(l_4)

In [41]:
da1 = {'持续一年期的交易企业个数':deal1,
     '持续二年期的交易企业个数': deal2,
     '持续三年期的交易企业个数': deal3,
     '持续四年前的交易企业个数':deal4
     }
jx = pd.DataFrame(data=da1)
jx.head()
jx.to_csv('./excel/extract/2/上游持续交易企业数.csv', encoding='gbk')

In [42]:
deal1=[]
deal2=[]
deal3=[]
deal4=[]
for num in range(124,425):      # 遍历目标企业
    l_1 = 0
    l_2 = 0
    l_3 = 0       # 一年、两年、三年、四年的交易方
    l_4 = 0

    id1 = 'E'+str(num)
    a = output1[output1['企业代号']==id1]
    a = a.reset_index(drop=True)
    other = np.unique(a['购方单位代号'])    # 交易方代号的唯一值
    
    year = a['开票日期'][len(a)-1].year - a['开票日期'][0].year+1  
    begin = a['开票日期'][0].year
    
    for i in range(len(other)):       # 遍历交易企业
        cou=0
        company = other[i]      # 选中的交易企业
        for j in range(year):    # 遍历每一年
            tem = a[(a['开票日期'] >str(begin+j) )& (a['开票日期'] <str(begin+j+1))]['购方单位代号'].unique()  # 一年内的交易企业
            if company in tem:
                cou +=1
                
        if cou == 1:
            l_1+=1
        elif cou == 2:
            l_2+=1
        elif cou ==3:
            l_3+= 1
        elif cou==4:
            l_4+=1

                
    deal1.append(l_1)
    deal2.append(l_2)
    deal3.append(l_3)        
    deal4.append(l_4)

In [43]:
da2= {'持续一年期的交易企业个数':deal1,
     '持续二年期的交易企业个数': deal2,
     '持续三年期的交易企业个数': deal3,
     '持续四年前的交易企业个数':deal4
     }

xx = pd.DataFrame(data=da2)
xx.head()
xx.to_csv('./excel/extract/2/下游持续交易企业.csv',encoding='gbk')

In [44]:
# in_y=[]
# for num in range(124,425):      # 遍历目标企业
#     l_1 = 0
#     l_2 = 0
#     l_3 = 0       # 一年、两年、三年、四年的交易方
#     l_4 = 0
#     l_5 = 0

#     id1 = 'E'+str(num)
#     a = input1[input1['企业代号']==id1]
#     a = a.reset_index(drop=True)
#     other = np.unique(a['销方单位代号'])    # 交易方代号的唯一值

#     year = a['开票日期'][len(a)-1].year - a['开票日期'][0].year+1  
#     in_y.append(year)


# out_y=[]
# for num in range(124,425):      # 遍历目标企业
#     l_1 = 0
#     l_2 = 0
#     l_3 = 0       # 一年、两年、三年、四年的交易方
#     l_4 = 0

#     id1 = 'E'+str(num)
#     a = output1[output1['企业代号']==id1]
#     a = a.reset_index(drop=True)
#     other = np.unique(a['购方单位代号'])    # 交易方代号的唯一值
    
#     year = a['开票日期'][len(a)-1].year - a['开票日期'][0].year+1  
#     out_y.append(year)

In [45]:
new_in = input1[(input1['开票日期']<'2020')]    # 2020年之前的进项数据
new_out = output1[(output1['开票日期']<'2020')]
new_in.head()

,企业代号,发票号码,开票日期,销方单位代号,金额,税额,价税合计,发票状态
0,E124,18891676,2017-09-01 00:00:00,C00014,338.46,57.54,396.0,有效发票
1,E124,18691267,2017-09-01 00:00:00,C00480,230.10,6.90,237.0,有效发票
2,E124,12995412,2017-09-01 00:00:00,C23675,223.30,6.70,230.0,有效发票
3,E124,6378193,2017-09-01 11:11:03,C00333,90090.09,9909.91,100000.0,有效发票
4,E124,6378194,2017-09-01 11:12:01,C00333,90090.09,9909.91,100000.0,有效发票

In [46]:
ur = []
dd = []
for num in range(124,425):      # 遍历目标企业
    
    id1 = 'E'+str(num)
    a = new_in[new_in['企业代号']==id1]
    a = a.reset_index(drop=True)
    
    end_1 = a['开票日期'][len(a)-1].year
    begin_1 = a['开票日期'][0].year
    
    begin_ji_1 = a[(a['开票日期']>str(begin_1))&(a['开票日期']<str(begin_1+1))]['金额'].sum()
    end_ji_1 =  a[(a['开票日期']>str(end_1))&(a['开票日期']<str(end_1+1))]['金额'].sum()
    
    b = new_out[new_out['企业代号']==id1]
    b = b.reset_index(drop=True)
    
    end_2 = b['开票日期'][len(b)-1].year
    begin_2 = b['开票日期'][0].year
    
    begin_ji_2 = b[(b['开票日期']>str(begin_2))&(b['开票日期']<str(begin_2+1))]['金额'].sum()
    end_ji_2 =  b[(b['开票日期']>str(end_2))&(b['开票日期']<str(end_2+1))]['金额'].sum()
    
    up_rate = (end_ji_2-end_ji_1)/(begin_ji_2-begin_ji_1)
    
    d = (end_ji_2-end_ji_1)-(begin_ji_2-begin_ji_1)
    
    ur.append(up_rate)
    dd.append(d)

In [47]:
data3 = {'绝对数变化':dd,
        '比例变化':ur}
df3 = pd.DataFrame(data=data3)
df3.head()

          绝对数变化      比例变化
0 -4.578985e+07 -0.902160
1 -8.292186e+07 -0.278589
2  1.170456e+08  2.482219
3 -8.236123e+07  0.662969
4  8.099251e+07  2.935291

In [48]:
for i in range(len(df3)):
    if (df3.loc[i,'绝对数变化']>0) & (df3.loc[i,'比例变化']<0):     # 说明扭亏为盈
        df3.loc[i,'是否扭亏为盈利']=1
    else:
        df3.loc[i,'是否扭亏为盈利']=0

for i in range(len(df3)):
    if (df3.loc[i,'绝对数变化']<0) & (df3.loc[i,'比例变化']<0):     # 说明扭亏为盈
        df3.loc[i,'是否变为亏损']=1
    else:
        df3.loc[i,'是否变为亏损']=0

df3.to_csv('./excel/extract/2/发展程度.csv', encoding='gbk')
df3.head()

          绝对数变化      比例变化  是否扭亏为盈利  是否变为亏损
0 -4.578985e+07 -0.902160      0.0     1.0
1 -8.292186e+07 -0.278589      0.0     1.0
2  1.170456e+08  2.482219      0.0     0.0
3 -8.236123e+07  0.662969      0.0     0.0
4  8.099251e+07  2.935291      0.0     0.0

# 第二问发票数据处理

In [49]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import time

input1 = pd.read_excel('.\excel\附件2：302家无信贷记录企业的相关数据.xlsx',
                       sheet_name='进项发票信息')
output1 = pd.read_excel('.\excel\附件2：302家无信贷记录企业的相关数据.xlsx',sheet_name='销项发票信息')

In [50]:
r_in=[]

for num in range(124,425):
    id1 = 'E'+str(num+123)
    tem = input1[input1['企业代号']==id1]
    all_num = tem.shape[0]
    fei_num = tem[tem['发票状态']=='作废发票'].shape[0]
    ratio = fei_num/all_num
    
    r_in.append(ratio)

r_out=[]

for num in range(124,425):
    id1 = 'E'+str(num+123)
    tem = output1[output1['企业代号']==id1]
    all_num = tem.shape[0]
    fei_num = tem[tem['发票状态']=='作废发票'].shape[0]
    ratio = fei_num/all_num
    
    r_out.append(ratio)

ZeroDivisionError: division by zero

In [ ]:
in_num=[]
for num in range(124,425):
    id1 = 'E'+str(num+123)
    tem = input1[input1['企业代号']==id1]
    all_num = tem.shape[0]
    
    in_num.append(all_num)
    
out_num=[]
for num in range(124,425):
    id1 = 'E'+str(num+123)
    tem = output1[output1['企业代号']==id1]
    all_num = tem.shape[0]
    
    out_num.append(all_num)

In [ ]:
name = []
for num in range(1, 303):
    id1 = 'E' + str(num + 123)
    name.append(id1)

data = {
    '企业名称': name,
    '进项发票的作废比例': r_in,
    '销项发票的作废比例': r_out,
    '进项发票数': in_num,
    '销项发票数': out_num
}

df=pd.DataFrame(data=data)
df.to_csv('./excel/extract/2/第二问作废比例.csv', encoding='gbk')
df.head()

   企业名称  进项发票的作废比例  销项发票的作废比例  进项发票数  销项发票数
0  E124   0.123313   0.150039  17411   1293
1  E125   0.123817   0.134796  20288   1595
2  E126   0.033771   0.166227    533   1516
3  E127   0.017931   0.030303   1450   4026
4  E128   0.027312   0.074900   3222   1255

In [ ]:
new_in = input1[(input1['开票日期']<'2020')]    # 2020年之前的进项数据
new_out = output1[(output1['开票日期']<'2020')]

In [ ]:
ur = []

dd = []
for num in range(124,425):      # 遍历目标企业
    
    id1 = 'E'+str(num+123)
    a = new_in[new_in['企业代号']==id1]
    a = a.reset_index(drop=True)
    
    end_1 = a['开票日期'][len(a)-1].year
    begin_1 = a['开票日期'][0].year
    
    begin_ji_1 = a[(a['开票日期']>str(begin_1))&(a['开票日期']<str(begin_1+1))]['金额'].sum()
    end_ji_1 =  a[(a['开票日期']>str(end_1))&(a['开票日期']<str(end_1+1))]['金额'].sum()
    
    
    b = new_out[new_out['企业代号']==id1]
    b = b.reset_index(drop=True)
    
    end_2 = b['开票日期'][len(b)-1].year
    begin_2 = b['开票日期'][0].year
    
    begin_ji_2 = b[(b['开票日期']>str(begin_2))&(b['开票日期']<str(begin_2+1))]['金额'].sum()
    end_ji_2 =  b[(b['开票日期']>str(end_2))&(b['开票日期']<str(end_2+1))]['金额'].sum()
    
    up_rate = (end_ji_2-end_ji_1)/(begin_ji_2-begin_ji_1)
    
    d = (end_ji_2-end_ji_1)-(begin_ji_2-begin_ji_1)
    
    ur.append(up_rate)
    dd.append(d)

In [ ]:
data3 = {'绝对数变化':dd,
        '比例变化':ur}
df3 = pd.DataFrame(data=data3)
df3

            绝对数变化      比例变化
0   -1.065813e+08 -2.086819
1   -1.697853e+08 -1.069323
2    1.540513e+08  2.527125
3   -8.365728e+07  0.677000
4    8.388073e+07  2.918189
..            ...       ...
297 -5.554860e+04  0.110407
298  1.892226e+04  6.340986
299  1.143155e+04  0.214670
300 -8.175862e+04  2.007337
301 -1.218773e+05 -0.132198

[302 rows x 2 columns]

In [ ]:
for i in range(len(df3)):
    if (df3.loc[i,'绝对数变化']>0) & (df3.loc[i,'比例变化']<0):     # 说明扭亏为盈
        df3.loc[i,'是否扭亏为盈利']=1
    else:
        df3.loc[i,'是否扭亏为盈利']=0

for i in range(len(df3)):
    if (df3.loc[i,'绝对数变化']<0) & (df3.loc[i,'比例变化']<0):     # 说明扭亏为盈
        df3.loc[i,'是否变为亏损']=1
    else:
        df3.loc[i,'是否变为亏损']=0        
df3.to_csv('./excel/extract/2/第二问绝对数和比例变化.csv',encoding='gbk')
df3.head()

          绝对数变化      比例变化  是否扭亏为盈利  是否变为亏损
0 -1.065813e+08 -2.086819      0.0     1.0
1 -1.697853e+08 -1.069323      0.0     1.0
2  1.540513e+08  2.527125      0.0     0.0
3 -8.365728e+07  0.677000      0.0     0.0
4  8.388073e+07  2.918189      0.0     0.0