In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('./excel/extract/1/违约风险.csv',encoding='gbk')
data

     企业代号      违约概率 信誉评级
0      E1  0.323994    A
1      E2  0.091497    A
2      E3  0.568229    C
3      E4  0.565384    C
4      E5  0.711943    B
..    ...       ...  ...
118  E119  0.711605    D
119  E120  0.565644    D
120  E121  0.702757    D
121  E122  0.564580    D
122  E123  0.572779    D

[123 rows x 3 columns]

In [4]:
A_max = data[data['信誉评级']=='A']['违约概率'].max()
A_min = data[data['信誉评级']=='A']['违约概率'].min()

B_max = data[data['信誉评级']=='B']['违约概率'].max()
B_min = data[data['信誉评级']=='B']['违约概率'].min()

C_max = data[data['信誉评级']=='C']['违约概率'].max()
C_min = data[data['信誉评级']=='C']['违约概率'].min()

D_max = data[data['信誉评级']=='D']['违约概率'].max()
D_min = data[data['信誉评级']=='D']['违约概率'].min()

In [5]:
dd = {'A':[A_max,A_min],
     'B':[B_max,B_min],
     'C':[C_max,C_min],
     'D':[D_max,D_min]}

d1 = pd.DataFrame(data=dd,index=['Max','Min'])
d1

            A         B         C        D
Max  0.339358  0.711943  0.707604  0.71772
Min  0.089451  0.564580  0.565384  0.56395

In [8]:
A_des = data[data['信誉评级']=='A']['违约概率'].describe()
B_des = data[data['信誉评级']=='B']['违约概率'].describe()
C_des = data[data['信誉评级']=='C']['违约概率'].describe()
D_des = data[data['信誉评级']=='D']['违约概率'].describe()

dd2 = {'A':A_des,'B':B_des,'C':C_des,'D':D_des}
d2 = pd.DataFrame(data=dd2)
d2.to_csv('./excel/result/1/各类信誉评级的违约风险的描述性统计分析.csv',encoding='gbk')
d2.head()

               A          B          C          D
count  27.000000  38.000000  34.000000  24.000000
mean    0.136353   0.606530   0.581238   0.609600
std     0.095317   0.061406   0.039484   0.065671
min     0.089451   0.564580   0.565384   0.563950
25%     0.091497   0.569941   0.567254   0.567017