In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import time

# 进销口分析

In [3]:
input1 = pd.read_excel('附件2：302家无信贷记录企业的相关数据.xlsx',sheet_name='进项发票信息')
output1 = pd.read_excel('附件2：302家无信贷记录企业的相关数据.xlsx',sheet_name='销项发票信息')

In [25]:
for num in range(124,426):
    id1 = 'E'+str(num)
    input1[input1['企业代号']==id1]

In [35]:
r_in=[]

for num in range(124,426):
    id1 = 'E'+str(num)
    tem = input1[input1['企业代号']==id1]
    all_num = tem.shape[0]
    fei_num = tem[tem['发票状态']=='作废发票'].shape[0]
    # if all_num==0:
    #     continue
    ratio = fei_num/all_num
    
    r_in.append(ratio)
    
r_out=[]

for num in range(124,426):
    id1 = 'E'+str(num)
    tem = output1[output1['企业代号']==id1]
    all_num = tem.shape[0]
    fei_num = tem[tem['发票状态']=='作废发票'].shape[0]
    # if all_num==0:
    #     continue
    ratio = fei_num/all_num
    r_out.append(ratio)

    

name=[]    
for num in range(124,426):
    id1 = 'E'+str(num)
    name.append(id1)

In [36]:
in_num=[]
for num in range(124,426):
    id1 = 'E'+str(num)
    tem = input1[input1['企业代号']==id1]
    all_num = tem.shape[0]
    
    in_num.append(all_num)
    
out_num=[]
for num in range(124,426):
    id1 = 'E'+str(num)
    tem = output1[output1['企业代号']==id1]
    all_num = tem.shape[0]
    
    out_num.append(all_num)

In [39]:
data = {'企业名称':name,
    '进项发票的作废比例':r_in   ,
      '销项发票的作废比例':r_out  ,
        '进项发票数':in_num ,
        '销项发票数':out_num
}
df=pd.DataFrame(data=data)
# df = pd.DataFrame.from_dict(data,orient='index')

In [40]:
df.to_csv('附件2作废发票比例.csv',encoding='utf-8')

# 企业文字提取

In [59]:
data = pd.read_excel('附件1.xlsx',sheet_name='企业信息')
data

     企业代号                 企业名称 信誉评级 是否违约
0      E1          ***电器销售有限公司    A    否
1      E2          ***技术有限责任公司    A    否
2      E3  ***电子(中国)有限公司***分公司    C    否
3      E4          ***发展有限责任公司    C    否
4      E5         ***供应链管理有限公司    B    否
..    ...                  ...  ...  ...
118  E119                ***药房    D    是
119  E120          ***陈列广告有限公司    D    是
120  E121     ***药业连锁有限公司***药店    D    是
121  E122          ***商贸有限责任公司    D    是
122  E123         ***创科技有限责任公司    D    是

[123 rows x 4 columns]

# 时间序列分析

In [41]:
for i in range(len(input1)):         # 删除作废发票
    if input1.loc[i,'发票状态']=='作废发票':
        input1.drop(i,inplace=True)

In [42]:
for i in range(len(output1)):
    if output1.loc[i,'发票状态']=='作废发票':
        output1.drop(i,inplace=True)

In [43]:
input1.reset_index(drop = True,inplace=True)
output1.reset_index(drop = True,inplace=True)

In [44]:
input1['开票日期'] = pd.to_datetime(input1['开票日期'])
output1['开票日期'] = pd.to_datetime(output1['开票日期'])

In [46]:
deal1=[]
deal2=[]
deal3=[]
deal4=[]
deal5=[]
for num in range(124,426):      # 遍历目标企业
    l_1 = 0
    l_2 = 0
    l_3 = 0       # 一年、两年、三年、四年的交易方
    l_4 = 0
    l_5 = 0

    id1 = 'E'+str(num)
    a = input1[input1['企业代号']==id1]
    a = a.reset_index(drop=True)
    other = np.unique(a['销方单位代号'])    # 交易方代号的唯一值
    
    year = a['开票日期'][len(a)-1].year - a['开票日期'][0].year+1  
    begin = a['开票日期'][0].year
    
    for i in range(len(other)):       # 遍历交易企业
        cou=0
        company = other[i]      # 选中的交易企业
        for j in range(year):    # 遍历每一年
            tem = a[(a['开票日期'] >str(begin+j) )& (a['开票日期'] <str(begin+j+1))]['销方单位代号'].unique()  # 一年内的交易企业
            if company in tem:
                cou +=1
                
        if cou == 1:
            l_1+=1
        elif cou == 2:
            l_2+=1
        elif cou ==3:
            l_3+= 1
        elif cou==4:
            l_4+=1
        elif cou == 5:
            l_5+=1
                
                
    deal1.append(l_1)
    deal2.append(l_2)
    deal3.append(l_3)        
    deal4.append(l_4)        
    deal5.append(l_5)

In [47]:
da1 = {'持续一年期的交易企业个数':deal1,
     '持续二年期的交易企业个数': deal2,
     '持续三年期的交易企业个数': deal3,
     '持续四年前的交易企业个数':deal4,
       '持续五年期的交易企业个数':deal5
     }

In [48]:
jx = pd.DataFrame(data=da1)

In [49]:
jx.to_csv('上游持续交易企业数.csv',encoding='utf-8')

In [50]:
deal1=[]
deal2=[]
deal3=[]
deal4=[]
for num in range(124,426):      # 遍历目标企业
    l_1 = 0
    l_2 = 0
    l_3 = 0       # 一年、两年、三年、四年的交易方
    l_4 = 0

    id1 = 'E'+str(num)
    a = output1[output1['企业代号']==id1]
    a = a.reset_index(drop=True)
    other = np.unique(a['购方单位代号'])    # 交易方代号的唯一值
    
    year = a['开票日期'][len(a)-1].year - a['开票日期'][0].year+1  
    begin = a['开票日期'][0].year
    
    for i in range(len(other)):       # 遍历交易企业
        cou=0
        company = other[i]      # 选中的交易企业
        for j in range(year):    # 遍历每一年
            tem = a[(a['开票日期'] >str(begin+j) )& (a['开票日期'] <str(begin+j+1))]['购方单位代号'].unique()  # 一年内的交易企业
            if company in tem:
                cou +=1
                
        if cou == 1:
            l_1+=1
        elif cou == 2:
            l_2+=1
        elif cou ==3:
            l_3+= 1
        elif cou==4:
            l_4+=1

                
                
    deal1.append(l_1)
    deal2.append(l_2)
    deal3.append(l_3)        
    deal4.append(l_4)

In [51]:
da2= {'持续一年期的交易企业个数':deal1,
     '持续二年期的交易企业个数': deal2,
     '持续三年期的交易企业个数': deal3,
     '持续四年前的交易企业个数':deal4
     }

xx = pd.DataFrame(data=da2)

In [53]:
xx.to_csv('下游持续交易企业.csv',encoding='utf-8')

In [54]:
in_y=[]
for num in range(124,426):      # 遍历目标企业
    l_1 = 0
    l_2 = 0
    l_3 = 0       # 一年、两年、三年、四年的交易方
    l_4 = 0
    l_5 = 0

    id1 = 'E'+str(num)
    a = input1[input1['企业代号']==id1]
    a = a.reset_index(drop=True)
    other = np.unique(a['销方单位代号'])    # 交易方代号的唯一值
    
    year = a['开票日期'][len(a)-1].year - a['开票日期'][0].year+1  
    in_y.append(year)



out_y=[]
for num in range(124,426):      # 遍历目标企业
    l_1 = 0
    l_2 = 0
    l_3 = 0       # 一年、两年、三年、四年的交易方
    l_4 = 0

    id1 = 'E'+str(num)
    a = output1[output1['企业代号']==id1]
    a = a.reset_index(drop=True)
    other = np.unique(a['购方单位代号'])    # 交易方代号的唯一值
    
    year = a['开票日期'][len(a)-1].year - a['开票日期'][0].year+1  
    out_y.append(year)

In [55]:
new_in = input1[(input1['开票日期']<'2020')]    # 2020年之前的进项数据
new_out = output1[(output1['开票日期']<'2020')]

In [57]:
new_in

,企业代号,发票号码,开票日期,销方单位代号,金额,税额,价税合计,发票状态
0,E124,18891676,2017-09-01 00:00:00,C00014,338.46,57.54,396.00,有效发票
1,E124,18691267,2017-09-01 00:00:00,C00480,230.10,6.90,237.00,有效发票
2,E124,12995412,2017-09-01 00:00:00,C23675,223.30,6.70,230.00,有效发票
3,E124,6378193,2017-09-01 11:11:03,C00333,90090.09,9909.91,100000.00,有效发票
4,E124,6378194,2017-09-01 11:12:01,C00333,90090.09,9909.91,100000.00,有效发票
...,...,...,...,...,...,...,...,...
377930,E425,47732334,2019-11-13 00:00:00,C15032,320.51,21.11,341.62,有效发票
377931,E425,73996051,2019-11-20 00:00:00,C02766,2000.00,0.00,2000.00,有效发票
377932,E425,25962148,2019-12-09 00:00:00,C01937,138.03,16.00,154.03,有效发票
377933,E425,10726350,2019-12-23 00:00:00,C05583,264.60,34.40,299.00,有效发票
377934,E425,72101375,2019-12-30 00:00:00,C23112,663.11,19.89,683.00,有效发票

In [58]:
ur = []

dd = []
for num in range(124,426):      # 遍历目标企业
    
    id1 = 'E'+str(num)
    a = new_in[new_in['企业代号']==id1]
    a = a.reset_index(drop=True)
    
    end_1 = a['开票日期'][len(a)-1].year
    begin_1 = a['开票日期'][0].year
    
    begin_ji_1 = a[(a['开票日期']>str(begin_1))&(a['开票日期']<str(begin_1+1))]['金额'].sum()
    end_ji_1 =  a[(a['开票日期']>str(end_1))&(a['开票日期']<str(end_1+1))]['金额'].sum()
    
    
    b = new_out[new_out['企业代号']==id1]
    b = b.reset_index(drop=True)
    
    end_2 = b['开票日期'][len(b)-1].year
    begin_2 = b['开票日期'][0].year
    
    begin_ji_2 = b[(b['开票日期']>str(begin_2))&(b['开票日期']<str(begin_2+1))]['金额'].sum()
    end_ji_2 =  b[(b['开票日期']>str(end_2))&(b['开票日期']<str(end_2+1))]['金额'].sum()
    
    up_rate = (end_ji_2-end_ji_1)/(begin_ji_2-begin_ji_1)
    
    d = (end_ji_2-end_ji_1)-(begin_ji_2-begin_ji_1)
    
    
    ur.append(up_rate)
    dd.append(d)

In [59]:
dd

[-45789845.74000004,
 -82921856.73999998,
 117045572.13,
 -82361225.38999999,
 80992507.48999998,
 -17241774.779999986,
 35203073.05999999,
 8017782.599999994,
 9318509.319999985,
 32831925.79000002,
 55061109.830000006,
 34560158.61,
 1939896.8700000048,
 21863305.859999944,
 25765508.65,
 -14444900.569999993,
 513817.1300000176,
 18367475.44999999,
 16407932.780000003,
 36976839.98,
 61674934.760000005,
 5561132.810000002,
 -6770884.439999995,
 -460704.60000000196,
 21206898.52000001,
 32489189.65,
 4724051.869999992,
 9595999.599999998,
 45005966.83,
 -99670948.42999998,
 2442341.9899999984,
 3159678.0000000056,
 -31905244.53000001,
 -2977014.199999989,
 7341437.959999995,
 -10918369.670000002,
 -9261711.029999994,
 40525828.199999996,
 34711118.2,
 -1877310.2099999972,
 -3267715.999999989,
 13937874.020000003,
 40586869.25000001,
 4910909.329999998,
 26083586.749999996,
 -2219400.5699999947,
 14914113.40000001,
 7005452.539999995,
 13627940.259999994,
 -3394198.1299999915,
 -1036608.4900000021,
 5519865.390000004,
 11142909.169999998,
 -32043289.299999997,
 -1550574.469999997,
 3814451.120000005,
 1459017.58,
 -3671249.4699999997,
 1861065.9000000018,
 9846929.979999999,
 13646888.569999998,
 11915824.400000002,
 24242430.660000004,
 -1580234.3900000006,
 940154.3299999982,
 9003233.989999996,
 25717793.059999995,
 88577637.38,
 13974834.839999998,
 -33176819.80000001,
 11115862.879999999,
 -11765248.400000002,
 5529809.619999999,
 21693649.520000003,
 3664700.3200000087,
 18287947.899999995,
 -2508412.49,
 5299288.250000006,
 -5017077.809999995,
 11251193.919999996,
 8740072.539999995,
 -15587143.039999997,
 -4861154.459999997,
 -15665033.61,
 2862224.519999992,
 2664047.6800000025,
 21260386.400000002,
 1634636.13,
 9555987.530000005,
 2360643.4600000004,
 7436722.24,
 25000296.540000003,
 12808051.36,
 -5432606.65,
 -3933183.319999999,
 -3564261.5199999986,
 10948122.319999998,
 8057604.059999997,
 10484579.92,
 -1582496.570000003,
 -4642785.299999998,
 1009769.3599999994,
 6081860.169999998,
 10667996.199999996,
 12251268.2,
 985688.6499999994,
 13093087.760000004,
 -731038.5900000022,
 7165984.340000001,
 19427741.36,
 14241767.360000001,
 4966950.550000001,
 -4875533.0,
 1998224.619999991,
 -9952964.57,
 -5792113.150000004,
 11470091.75,
 -45832.689999997616,
 -11686897.330000002,
 3025196.8900000025,
 -3470700.5299999975,
 9190994.82,
 7214027.630000001,
 4193275.82,
 2092147.4200000004,
 -22252513.849999994,
 1614127.910000002,
 4199630.420000001,
 269422.7599999998,
 3680626.05,
 -3409823.880000001,
 133317.81000000052,
 1824526.6799999997,
 -893209.5800000001,
 -30790424.06999999,
 -2392736.799999999,
 2464738.1700000004,
 3986471.880000001,
 257029.28000000026,
 -3961703.9700000007,
 368518.49999999907,
 458666.6599999992,
 -3678977.709999999,
 -6779876.719999999,
 1963380.6199999999,
 -12032654.77,
 5478182.510000001,
 1625862.79,
 1971230.6700000009,
 -1869578.1799999997,
 6790766.83,
 -118748.04999999888,
 257222.95999999996,
 -1571638.3399999999,
 495543.1999999995,
 -1399838.1099999996,
 -327846.8599999994,
 1448142.4700000007,
 -371129.36000000127,
 1780935.5799999991,
 1857643.6,
 5494257.600000001,
 648402.4900000007,
 469474.20999999985,
 -1890555.91,
 -3322879.609999999,
 1501835.0,
 3820783.18,
 1423203.1099999996,
 -440057.45000000024,
 -3542841.879999999,
 1083569.5100000012,
 1741779.0,
 -6238639.21,
 -2514932.17,
 -4237492.909999999,
 1916661.3700000008,
 2216948.6599999988,
 2785142.0499999984,
 1105799.4800000004,
 -5054826.46,
 -3411335.9799999967,
 221390.70999999996,
 1941313.8199999987,
 508486.5300000006,
 -2209692.8600000003,
 1773327.4999999988,
 4174007.25,
 -36622527.160000004,
 1328136.279999999,
 443450.0100000005,
 479121.45999999996,
 2539590.45,
 2799579.309999999,
 730291.7600000002,
 -3410792.1,
 -1319180.12,
 1921454.910000001,
 1392407.1500000006,
 1025903.8500000017,
 -17466344.940000005,
 -8146405.27,
 359895.0799999996,
 -4382327.490000001,
 4250631.209999999,
 5444063.08,
 678298.7599999998,
 1491243.2599999998,
 -17817887.53,
 1117292.5100000002,
 -111570.11999999965,
 -1209136.5700000003,
 -67696.2,
 -3124025.8199999994,
 78327.77000000025,
 107845.19999999925,
 -1491561.5599999998,
 -752540.1399999999,
 392152.35999999987,
 888219.0900000001,
 -177085.90999999992,
 444718.07000000024,
 178394.92999999993,
 19530.780000000086,
 25181.069999999832,
 -722717.1999999995,
 732986.46,
 544024.65,
 -2547325.42,
 -645108.2399999999,
 -11830.099999999802,
 100023.93999999983,
 507528.29,
 615399.6900000002,
 551569.0799999998,
 84206.71999999997,
 -1832900.9499999997,
 334618.5100000005,
 -2174729.02,
 762276.92,
 -260473.06999999983,
 597505.4100000003,
 -71203.38,
 -677605.8400000003,
 123013.37999999998,
 -33514.10999999987,
 273048.0500000001,
 151344.90000000014,
 -69906.24999999994,
 -4921840.669999999,
 -656188.28,
 202629.93999999997,
 377042.25999999995,
 261705.28000000003,
 -67658.03999999992,
 -324415.71000000014,
 147059.74000000005,
 -8734242.889999999,
 299556.37999999995,
 -966848.02,
 903378.7799999999,
 186743.01,
 -2820946.36,
 126583.46999999994,
 -28096.459999999905,
 139806.42000000007,
 71041.14000000004,
 -220728.89000000007,
 -74860.70000000007,
 -217258.24,
 1006211.74,
 -903627.12,
 -181001.28,
 19433.949999999953,
 58797.48999999993,
 -66460.86000000002,
 -240400.13000000003,
 78371.32000000002,
 766.5,
 -418751.44999999995,
 -675612.15,
 -201368.24,
 -66324.69999999995,
 633895.2300000001,
 4942.790000000008,
 86707.98000000001,
 -5463.889999999985,
 -101418.96000000005,
 -48749.94999999999,
 221204.03999999998,
 -315969.4799999999,
 1974.429999999993,
 -26610.549999999996,
 38150.57999999998,
 -315544.28,
 -5625426.0200000005,
 -342637.6799999999,
 -55548.59999999999,
 19567.559999999998,
 5829.610000000001,
 -82314.65999999999,
 -71522.98999999999]

In [60]:
data3 = {'绝对数变化':dd,
        '比例变化':ur}
df3 = pd.DataFrame(data=data3)
df3

            绝对数变化      比例变化
0   -4.578985e+07 -0.902160
1   -8.292186e+07 -0.278589
2    1.170456e+08  2.482219
3   -8.236123e+07  0.662969
4    8.099251e+07  2.935291
..            ...       ...
297 -5.554860e+04  0.110407
298  1.956756e+04  8.608094
299  5.829610e+03  0.599515
300 -8.231466e+04  2.014188
301 -7.152299e+04 -0.433129

[302 rows x 2 columns]

In [61]:
for i in range(len(df3)):
    if (df3.loc[i,'绝对数变化']>0) & (df3.loc[i,'比例变化']<0):     # 说明扭亏为盈
        df3.loc[i,'是否扭亏为盈利']=1
    else:
        df3.loc[i,'是否扭亏为盈利']=0

for i in range(len(df3)):
    if (df3.loc[i,'绝对数变化']<0) & (df3.loc[i,'比例变化']<0):     # 说明扭亏为盈
        df3.loc[i,'是否变为亏损']=1
    else:
        df3.loc[i,'是否变为亏损']=0        

df3

            绝对数变化      比例变化  是否扭亏为盈利  是否变为亏损
0   -4.578985e+07 -0.902160      0.0     1.0
1   -8.292186e+07 -0.278589      0.0     1.0
2    1.170456e+08  2.482219      0.0     0.0
3   -8.236123e+07  0.662969      0.0     0.0
4    8.099251e+07  2.935291      0.0     0.0
..            ...       ...      ...     ...
297 -5.554860e+04  0.110407      0.0     0.0
298  1.956756e+04  8.608094      0.0     0.0
299  5.829610e+03  0.599515      0.0     0.0
300 -8.231466e+04  2.014188      0.0     0.0
301 -7.152299e+04 -0.433129      0.0     1.0

[302 rows x 4 columns]

In [62]:
df3.to_csv('发展程度.csv',encoding='utf-8')

In [290]:
num=5
id1 = 'E'+str(num)
a = new_in[new_in['企业代号']==id1]
a = a.reset_index(drop=True)
    
end_1 = a['开票日期'][len(a)-1].year
begin_1 = a['开票日期'][0].year
    
begin_ji_1 = a[(a['开票日期']>str(begin_1))&(a['开票日期']<str(begin_1+1))]['金额'].sum()
end_ji_1 =  a[(a['开票日期']>str(end_1))&(a['开票日期']<str(end_1+1))]['金额'].sum()
    
    
b = new_out[new_out['企业代号']==id1]
b = b.reset_index(drop=True)
    
end_2 = b['开票日期'][len(b)-1].year
begin_2 = b['开票日期'][0].year
    
begin_ji_2 = b[(b['开票日期']>str(begin_2))&(b['开票日期']<str(begin_2+1))]['金额'].sum()
end_ji_2 =  b[(b['开票日期']>str(end_2))&(b['开票日期']<str(end_2+1))]['金额'].sum()

up_rate = (end_ji_2-end_ji_1)/(begin_ji_2-begin_ji_1)

In [291]:
print(end_ji_2-end_ji_1)
print(begin_ji_2-begin_ji_1)

4116517.7299999893
48300.580000001006

In [289]:
if

[1.7206138607491175,
 2.1976741755350835,
 0.5163533480678486,
 0.053642120805519077,
 85.22708692110744,
 6.220033757117115,
 0.28299993853695593,
 1.1903434951584118,
 1.1026416281740918,
 5.6952388287385975,
 0.06224696926670617,
 0.3142310613924136,
 1.6246590416677933,
 1.2608609677500382,
 2.030952353418196,
 4.42752647859875,
 4.6091111208456725,
 25.37000437751128,
 1.2952080964666253,
 3.448482477010922,
 -107.85542263470977,
 -68.36411555912315,
 -3.1526842431065614,
 3.7508149740262886,
 1.8719903885132894,
 -1.5351713542943943,
 -4.576462137815929,
 7.404078615947699,
 1.8563019203053552,
 1.2348027347399602,
 1.6791198336803776,
 2.0636008405295763,
 0.5125450991083275,
 140.72763660986513,
 -11.283839443261392,
 3.21411258457861,
 0.9453293654883062,
 1.3313401805724063,
 7.452725580324382,
 6.115626835894702,
 4.989140651177328,
 12.135349485779685,
 1.1820756853858494,
 6.562504223791024,
 -5.818097757171771,
 12.069900028107975,
 2.966145392466539,
 5.250937640696781,
 0.3892807875354888,
 2.7108129964017462,
 149.54003530827885,
 2.928640924514602,
 1.2334603990141317,
 1.5594998109794656,
 0.46138218820943555,
 0.6080771865152791,
 -520.378261409993,
 2.6319094838612047,
 2.668089467441691,
 16.648189248095253,
 0.7516937403783559,
 0.6407068582112135,
 0.16375257516456432,
 1.153526917922051,
 3.181304820949343,
 163.80308210318933,
 5.055198895625344,
 0.36464335940146825,
 9.974805767095432,
 0.059261051589976806,
 -0.2709463765525034,
 -13.392677548878696,
 0.4947274866470568,
 6.797415479219719,
 0.21984318113850088,
 2.752940948363574,
 0.40213927290443346,
 0.1871098157003494,
 -1.5078616268382043,
 -5.026949012353689,
 1.5807090884942765,
 1.3846505420473292,
 3.545184777583607,
 1.90864794440136,
 3.3700166717840134,
 0.22446511136396166,
 3.983327703886272,
 1.3939140560569714,
 -0.24416069302377294,
 1.7143012299248843,
 2.2548069280351783,
 4.8187724433576635,
 1.7732369258809357,
 2.76189945427241,
 0.762139235469635,
 33.85250329329415,
 2.842571435827089,
 0.8056787332929423,
 -1.2156299914625928,
 0.641697940845866,
 0.4216714469252338,
 0.9517159125112089,
 1.0854157040280148,
 2.299433945164303,
 0.5724219467912264,
 2.1574686630390443,
 10.308934517607566,
 0.03596442858317123,
 7.229384822325518,
 1.7883146301512365,
 -2.3730291699394095,
 2.6999205095877516,
 -0.03891299889466099,
 -5.032003202822487,
 4.706717461582195,
 0.0661510030644933,
 2.381499614196496,
 -0.33946290554118924,
 6.999116995476569,
 1.1390334045743837,
 -0.07512171533373088,
 -0.6814956279855656,
 1.8243605644659273]

# 第二问发票数据处理

In [63]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import time

input1 = pd.read_excel('附件2：302家无信贷记录企业的相关数据.xlsx',sheet_name='进项发票信息')
output1 = pd.read_excel('附件2：302家无信贷记录企业的相关数据.xlsx',sheet_name='销项发票信息')

In [64]:
# r_in=[]

# for num in range(1,303):
#     id1 = 'E'+str(num+123)
#     tem = input1[input1['企业代号']==id1]
#     all_num = tem.shape[0]
#     fei_num = tem[tem['发票状态']=='作废发票'].shape[0]
#     ratio = fei_num/all_num
    
#     r_in.append(ratio)
    
r_out=[]

for num in range(1,303):
    id1 = 'E'+str(num+123)
    tem = output1[output1['企业代号']==id1]
    all_num = tem.shape[0]
    fei_num = tem[tem['发票状态']=='作废发票'].shape[0]
    ratio = fei_num/all_num
    
    r_out.append(ratio)

    

name=[]    
for num in range(1,303):
    id1 = 'E'+str(num+123)
    name.append(id1)

In [65]:
in_num=[]
for num in range(1,303):
    id1 = 'E'+str(num+123)
    tem = input1[input1['企业代号']==id1]
    all_num = tem.shape[0]
    
    in_num.append(all_num)
    
out_num=[]
for num in range(1,303):
    id1 = 'E'+str(num+123)
    tem = output1[output1['企业代号']==id1]
    all_num = tem.shape[0]
    
    out_num.append(all_num)

In [66]:
data = {'企业名称':name,
    '进项发票的作废比例':r_in   ,
      '销项发票的作废比例':r_out  
}

df=pd.DataFrame(data=data)
df

     企业名称  进项发票的作废比例  销项发票的作废比例
0    E124   0.123313   0.150039
1    E125   0.123817   0.134796
2    E126   0.033771   0.166227
3    E127   0.017931   0.030303
4    E128   0.027312   0.074900
..    ...        ...        ...
297  E421   0.000000   0.034483
298  E422   0.000000   0.100000
299  E423   0.000000   0.142857
300  E424   0.000000   0.139535
301  E425   0.016949   0.444444

[302 rows x 3 columns]

In [11]:
df.to_csv('第二问作废比例.csv',encoding='gbk')

In [12]:
new_in = input1[(input1['开票日期']<'2020')]    # 2020年之前的进项数据
new_out = output1[(output1['开票日期']<'2020')]

In [67]:
ur = []

dd = []
for num in range(1,303):      # 遍历目标企业
    
    id1 = 'E'+str(num+123)
    a = new_in[new_in['企业代号']==id1]
    a = a.reset_index(drop=True)
    
    end_1 = a['开票日期'][len(a)-1].year
    begin_1 = a['开票日期'][0].year
    
    begin_ji_1 = a[(a['开票日期']>str(begin_1))&(a['开票日期']<str(begin_1+1))]['金额'].sum()
    end_ji_1 =  a[(a['开票日期']>str(end_1))&(a['开票日期']<str(end_1+1))]['金额'].sum()
    
    
    b = new_out[new_out['企业代号']==id1]
    b = b.reset_index(drop=True)
    
    end_2 = b['开票日期'][len(b)-1].year
    begin_2 = b['开票日期'][0].year
    
    begin_ji_2 = b[(b['开票日期']>str(begin_2))&(b['开票日期']<str(begin_2+1))]['金额'].sum()
    end_ji_2 =  b[(b['开票日期']>str(end_2))&(b['开票日期']<str(end_2+1))]['金额'].sum()
    
    up_rate = (end_ji_2-end_ji_1)/(begin_ji_2-begin_ji_1)
    
    d = (end_ji_2-end_ji_1)-(begin_ji_2-begin_ji_1)
    
    
    ur.append(up_rate)
    dd.append(d)

In [68]:
data3 = {'绝对数变化':dd,
        '比例变化':ur}
df3 = pd.DataFrame(data=data3)
df3

            绝对数变化      比例变化
0   -4.578985e+07 -0.902160
1   -8.292186e+07 -0.278589
2    1.170456e+08  2.482219
3   -8.236123e+07  0.662969
4    8.099251e+07  2.935291
..            ...       ...
297 -5.554860e+04  0.110407
298  1.956756e+04  8.608094
299  5.829610e+03  0.599515
300 -8.231466e+04  2.014188
301 -7.152299e+04 -0.433129

[302 rows x 2 columns]

In [69]:
for i in range(len(df3)):
    if (df3.loc[i,'绝对数变化']>0) & (df3.loc[i,'比例变化']<0):     # 说明扭亏为盈
        df3.loc[i,'是否扭亏为盈利']=1
    else:
        df3.loc[i,'是否扭亏为盈利']=0

for i in range(len(df3)):
    if (df3.loc[i,'绝对数变化']<0) & (df3.loc[i,'比例变化']<0):     # 说明扭亏为盈
        df3.loc[i,'是否变为亏损']=1
    else:
        df3.loc[i,'是否变为亏损']=0        

df3

            绝对数变化      比例变化  是否扭亏为盈利  是否变为亏损
0   -4.578985e+07 -0.902160      0.0     1.0
1   -8.292186e+07 -0.278589      0.0     1.0
2    1.170456e+08  2.482219      0.0     0.0
3   -8.236123e+07  0.662969      0.0     0.0
4    8.099251e+07  2.935291      0.0     0.0
..            ...       ...      ...     ...
297 -5.554860e+04  0.110407      0.0     0.0
298  1.956756e+04  8.608094      0.0     0.0
299  5.829610e+03  0.599515      0.0     0.0
300 -8.231466e+04  2.014188      0.0     0.0
301 -7.152299e+04 -0.433129      0.0     1.0

[302 rows x 4 columns]

In [71]:
df3.to_csv('第二问绝对数和比例变化.csv',encoding='utf-8')